@import 'settings';
@import 'theme';
@import 'foundation-emails';



// http://foundation.zurb.com/forum/posts/46910-best-way-to-inline-custom-styles
table.button.facebook table td {
  background: $facebook-button-background !important;
  border-color: $facebook-button-background;
}
table.button.twitter table td {
  background: $twitter-button-background !important;
  border-color: $twitter-button-background;
} 
table.button.google table td {
  background: $google-plus_button_background !important;
  border-color: $google-plus_button_background;
}

table.button.youtube table td {
  background: $youtube-button_background !important;
  border-color: $youtube-button_background;
}

.banner {
  background: $banner-background;
}
.banner .columns {
  padding-bottom: 0;
}
.banner p {
  color: $banner-text-color;
  margin-bottom: 0;
}
.banner .wrapper-inner {
  padding: 20px; /*controls the height of the header*/
}
.banner .container {
  background: $banner-background;
}
.wrapper.secondary {
  background: $body-background;
}
.banner_img { 
	// border: 1px solid black
}

.footer {
  background: $footer-background;
}
.footer .columns {
  padding-bottom: 0;
}
.footer p {
  color: $footer-text-color;
  margin-bottom: 0;
}
.footer .wrapper-inner {
  padding: 20px; /*controls the height of the header*/
}
.footer .container {
  background: $footer-background;
}
.footer_img {}


// This is to hopefully fix the callout issue: 

table.callout {
  margin-bottom: $callout-margin-bottom;
  Margin-bottom: $callout-margin-bottom;
}

th.callout-inner {
  width: 100%;
  border: $callout-border;
  padding: $callout-padding;
  background: $callout-background;

  &.primary {
    background: scale-color($primary-color, $lightness: $callout-background-fade);
    border: $callout-border-secondary;
    color: $black;
  }

  &.secondary {
    background: scale-color($secondary-color, $lightness: $callout-background-fade);
    border: $callout-border-secondary;
    color: $black;
  }

  &.success {
    background: scale-color($success-color, $lightness: $callout-background-fade);
    border: $callout-border-success;
    color: $black;
  }

  &.warning {
    background: scale-color($warning-color, $lightness: $callout-background-fade);
    border: $callout-border-warning;
    color: $black;
  }

  &.alert {
    background: scale-color($alert-color, $lightness: $callout-background-fade);
    border: $callout-border-alert;
    color: $black;
  }
}


