$global-font-size: 16px;

//$primary-color:  #2199e8, 10%;
//$success-color:  #3adb76, 10%;

$body-background: $light-gray;
$container-background: $white; 

$banner-background: #e9ebee;
$banner-text-color: $black;

$footer-background: #e9ebee;
$footer-text-color: $black;

$facebook-button-background:    #3B5998;
$twitter-button-background:     #1daced;
$google-plus_button_background: #DB4A39;




