$global-font-size: 16px;

//$primary-color:   #2199e8;
//$secondary-color: #777777;

$body-background: $light-gray;
$container-background: $white;

$banner-background: #e9ebee;
$banner-text-color: $black;

$footer-background: $banner-background;
$footer-text-color: $banner-text-color;

$facebook-button-background:     #3B5998;
$twitter-button-background:      #1daced;
$instagram-button_background:  #ffa500;
$youtube-button_background:      #c51109;