$global-font-size: 16px;

//$primary-color:  #2199e8, 10%;
//$success-color:  #3adb76, 10%;

$body-background: #ffeef7;
$container-background: $white; 

$banner-background: #f53876;
$banner-text-color: $white;

$footer-background: #f9adbe;
$footer-text-color: $black;

$facebook-button-background:    lighten(#3B5998, 10%);
$twitter-button-background:     lighten(#1daced, 10%);
$google-plus_button_background: lighten(#DB4A39, 10%);
$youtube-button_background:     lighten(#c51109, 10%);


$small-font-color: #330033;
