$global-font-size: 16px;

$primary-color:  darken(#2199e8, 10%);
$success-color:  darken(#3adb76, 10%);

$body-background: #eabf86;
$container-background: $white; 

$banner-background: #4d362e;
$banner-text-color: $white;

$footer-background: #996855;
$footer-text-color: $white;

$facebook-button-background:    darken(#3B5998, 10%);
$twitter-button-background:     darken(#1daced, 10%);
$instagram-button_background: darken(#ffa500, 10%);
$youtube-button_background:     darken(#c51109, 10%);