$global-font-size: 16px;

//$primary-color:  #2199e8, 10%;
//$success-color:  #3adb76, 10%;

$body-background: #f2cbbc;
$container-background: $white; 

$banner-background: #e05038;
$banner-text-color: $white;

$footer-background: #334431; 
$footer-text-color: $banner-text-color;

$facebook-button-background:     darken(#3B5998, 10%);
$twitter-button-background:      darken(#1daced, 10%);
$google-plus_button_background:  darken(#DB4A39, 10%);