
$global-font-size: 16px;

$white: #ffffff; 

//$primary-color:   #2199e8;
//$secondary-color: #777777;

$body-background: $white;
$container-background: $white;

$banner-background: $white;
$banner-text-color: $black;

$footer-background: $banner-background;
$footer-text-color: $banner-text-color;



$success-color:                  lighten(#3adb76, 10%); 
$button-background:              lighten($primary-color, 10%); 
$facebook-button-background:     lighten(#3B5998, 10%); 
$twitter-button-background:      lighten(#1daced, 10%); 
$instagram-button_background:  lighten(#ffa500, 10%); 
$youtube-button_background:      lighten(#c51109, 10%); 