$global-font-size: 16px;

$primary-color:  lighten(#2199e8, 10%);
$success-color:  lighten(#3adb76, 10%);

$body-background: #ebf6e3;
$container-background: $white; 

$banner-background: #75b8a0;
$banner-text-color: $white;

$footer-background: #5c7366;
$footer-text-color: $banner-text-color;

$facebook-button-background:    lighten(#3B5998, 10%);
$twitter-button-background:     lighten(#1daced, 10%);
$instagram-button_background: lighten(#ffa500, 10%);
$youtube-button_background:     lighten(#c51109, 10%);