$global-font-size: 16px;

$primary-color:  lighten(#2199e8, 10%);
$success-color:  lighten(#3adb76, 10%);

$body-background: #cdd422;
$container-background: $light-gray;

$banner-background: #431c5d;
$banner-text-color: $white;

$footer-background: #e05915;
$footer-text-color: $white;

$facebook-button-background:    lighten(#3B5998, 10%);
$twitter-button-background:     lighten(#1daced, 10%);
$google-plus_button_background: lighten(#DB4A39, 10%);
$youtube-button_background:     lighten(#c51109, 10%);