$global-font-size: 16px;

$primary-color:  darken(#2199e8, 20%); 
$success-color:  darken(#3adb76, 20%); 

$body-background: #06000a;
$container-background: $white; 

$banner-background: #300032;
$banner-text-color: $white;

$footer-background: #c43235;
$footer-text-color: $banner-text-color;

$facebook-button-background:    darken(#3B5998, 20%); 
$twitter-button-background:     darken(#1daced, 20%); 
$google-plus_button_background: darken(#DB4A39, 20%); 
$youtube-button_background:      darken(#c51109, 10%);