$global-font-size: 16px;

$primary-color:  darken(#2199e8, 10%);
$success-color:  darken(#3adb76, 10%);

$body-background: #bcd5d1;
$container-background: $white;

$banner-background: #5a5c51;
$banner-text-color: $light-gray;

$footer-background: #ba9077;
$footer-text-color: $light-gray;

$facebook-button-background:     darken(#3B5998, 10%);
$twitter-button-background:      darken(#1daced, 10%);
$google-plus_button_background:  darken(#DB4A39, 10%);