@import 'settings';
@import 'foundation-emails';



// http://foundation.zurb.com/forum/posts/46910-best-way-to-inline-custom-styles
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}
table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
} 
table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}



.banner {
  //background: #e9ebee;
  background: #990000
}
.banner .columns {
  padding-bottom: 0;
}
.banner p {
  color: $banner-text-color;
  margin-bottom: 0;
}
.banner .wrapper-inner {
  padding: 20px; /*controls the height of the header*/
}
.banner .container {
 background: #990000
}

.wrapper.secondary {
  background: $body-background;
}
.banner_img { 
	// border: 1px solid black
}
 
