<wrapper style="background-color:#cccccc">
  <container style="background-color:#cccccc">
    <row class="collapse" style="background-color:#cccccc">
      <columns large="6" valign="middle">
		  <center>
			  <img src="http://placehold.it/200x50" style="border:1px solid black">
		  </center>
      </columns>
      <columns large="6" valign="middle">
        <p class="text-center">
        	Tagline for Mailing List
		</p>
      </columns>
    </row>
  </container>
</wrapper>
<spacer size="25"></spacer>