<wrapper class="header" bgcolor="{{vars.header_bg_color}}">
	<!-- <container> -->
		<row class="collapse">
			<columns small="6" valign="middle">
				<a href="{{{vars.list_name_url}}}">
					<img src="{{{vars.banner_img_url}}}" class="banner_img">
				</a>
			</columns>
			<columns small="6" valign="middle">
			<p class="text-right">
				<!-- tmpl_if email.preheader -->
					<!-- tmpl_var email.preheader -->
				<!-- tmpl_else -->
					<!-- tmpl_if email.subject -->
						<!-- tmpl_var email.subject -->
					<!-- tmpl_else -->
						<!-- tmpl_var list_settings.list_name -->
					<!-- /tmpl_if -->
				<!-- /tmpl_if --> 
			</p>
		</columns>
		</row>
	<!-- </container> -->
</wrapper>
<spacer size="25"></spacer>