<callout class="warning">
<p>
	<strong>
		Your privacy is important:
	</strong>
This email is part of our <strong>Closed-Loop Opt-In</strong> system and was sent to protect 
the privacy of the owner of this email address (that's you!). Closed-Loop Opt-In confirmation 
helps guarantee that only the owner of an email address can subscribe themselves
to this mailing list.

<p>
<strong>
	Privacy Policy for, Mailing List Name:
</strong>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
</p>

</callout>